# ETL EII: data transformation and storage

<br>

<p align="center">
<img width=80 src="https://media.giphy.com/media/KAq5w47R9rmTuvWOWa/giphy.gif"  class="center" />
</p>

<p align="center">
    <img width=150 src="Images/assblr.png">
</p>
    
***

Once we have obtained the data through the extraction process (what we have studied in the previous Episode), the next step is to proceed with cleaning and working with the data.


## Data transfromation

When we refer to data transformation, we are describing the process of cleaning and preparing data to serve our specific purposes. This can involve tasks such as removing invalid data, formatting data correctly, adding new data, selecting specific subsets of data, and more.

Throughout this material, we will explore the most common scenarios encountered in everyday data work. However, it's important to note that each project may have its unique requirements and variations.

**Notes:** 

- This document does not provide explanations on data extraction, as it is not the primary focus of this material.

- Besides, you already have knowledge on data extraction ;)

- You are also familiar with some data cleaning techniques that we covered in the first and second modules (Fundamentals I & II). However, we will review some of those techniques and learn new ones.


### Extracting data from a field

Let's proceed with an example using the dataset from the oan.one API (you won't find any documentation -the API does not really exist :O-). We will retrieve a dataset with 5 airplanes from Spain and display only the first row. 

How?

Here you have the neccessary information such as the API endpoint, required parameters, and authentication credentials:

- API base URL: https://api.oan.one/assembler/

- API endpoint: /aircraft/auth/last-5-country

- Request type: POST

- Token: oanToken = ZF7xNEuLAZ5DKLQAEGVUq6VquGLQdsL7

- country: ISO Code; available options are ES (Spain), FR (France), PT (Portugal), GE (Germany), IT (Italy), etc.

**Notes:**

- If you do not specify the country parameter, the request will still be made, but it will be in blanck without any filter, and it will not return any data. 

- The only available filter for this API is the country parameter.

In [ ]:
# Type you code here:
#
#

print(example_row)
print(payload.status_code)
print(payload.content)

There are several methods to extract data from a field, but one of the most common methods is using the `split()` function. This function allows us to split a string into multiple parts based on a specified separator, such as empty spaces or a custom separator. 

Let's recall how this method works as it is extremely useful for handling strings. In the previous cell, you obtained the following JSON:

<p align="center">
    <img width=1900 src="Images/OutputTransf.png">
</p>

We will work on two simple cases:

- In the first case, within the 'plate' field, we will only keep the first two initials and discard the hyphen and everything that follows.

- In the second case, we will take the 'model_name' field and keep only the first word or string, discarding any numbers and spaces.

In [ ]:
# Type you code here:

### Formatting strings

We have plenty of methods to transform and work with strings, and you're already familiar with many of them. However, here are some of the most common ones (although I hope that, being experts, there might be a few you haven't come across yet):


| Method         | Description   |
|:---------------|:----------------------|
| capitalize()   | Converts the first character to upper case                                                    |
| casefold()     | Converts string into lower case                                                               |
| center()       | Returns a centered string                                                                     |
| count()        | Returns the number of times a specified value occurs in a string                              |
| encode()       | Returns an encoded version of the string                                                      |
| endswith()     | Returns true if the string ends with the specified value                                      |
| expandtabs()   | Sets the tab size of the string                                                               |
| find()         | Searches the string for a specified value and returns the position of where it was found      |
| format()       | Formats specified values in a string                                                          |
| format_map()   | Formats specified values in a string                                                          |
| index()        | Searches the string for a specified value and returns the position of where it was found      |
| isalnum()      | Returns True if all characters in the string are alphanumeric                                 |
| isalpha()      | Returns True if all characters in the string are in the alphabet                              |
| isascii()      | Returns True if all characters in the string are ascii characters                             |
| isdecimal()    | Returns True if all characters in the string are decimals                                     |
| isdigit()      | Returns True if all characters in the string are digits                                       |
| isidentifier() | Returns True if the string is an identifier                                                   |
| islower()      | Returns True if all characters in the string are lower case                                   |
| isnumeric()    | Returns True if all characters in the string are numeric                                      |
| isprintable()  | Returns True if all characters in the string are printable                                    |
| isspace()      | Returns True if all characters in the string are whitespaces                                  |
| istitle()      | Returns True if the string follows the rules of a title                                       |
| isupper()      | Returns True if all characters in the string are upper case                                   |
| join()         | Converts the elements of an iterable into a string                                            |
| ljust()        | Returns a left justified version of the string                                                |
| lower()        | Converts a string into lower case                                                             |
| lstrip()       | Returns a left trim version of the string                                                     |
| maketrans()    | Returns a translation table to be used in translations                                        |
| partition()    | Returns a tuple where the string is parted into three parts                                   |
| replace()      | Returns a string where a specified value is replaced with a specified value                   |
| rfind()        | Searches the string for a specified value and returns the last position of where it was found |
| rindex()       | Searches the string for a specified value and returns the last position of where it was found |
| rjust()        | Returns a right justified version of the string                                               |
| rpartition()   | Returns a tuple where the string is parted into three parts                                   |
| rsplit()       | Splits the string at the specified separator, and returns a list                              |
| rstrip()       | Returns a right trim version of the string                                                    |
| split()        | Splits the string at the specified separator, and returns a list                              |
| splitlines()   | Splits the string at line breaks and returns a list                                           |
| startswith()   | Returns true if the string starts with the specified value                                    |
| strip()        | Returns a trimmed version of the string                                                       |
| swapcase()     | Swaps cases, lower case becomes upper case and vice versa                                     |
| title()        | Converts the first character of each word to upper case                                       |
| translate()    | Returns a translated string                                                                   |
| upper()        | Converts a string into upper case                                                             |
| zfill()        | Fills the string with a specified number of 0 values at the beginning                         |


<br>

All this methos are used like `string.method()`. 

Below you can work some examples:

In [ ]:
# Type you code here:

### Formatting numbers

As you know, in Python, we have three types of numbers:

- int -> represents integer values, such as 1.
- float -> represents floating-point numbers, such as 1.5.
- complex -> represents complex numbers, with a real and imaginary part, such as 1j.

We can convert numbers between these types using the following native functions:

- int() -> converts a number to an integer.
- float() -> converts a number to a floating-point number.
- complex() -> converts a number to a complex number.

Below is a code cell where you can review and practice some of these methods if you wish:

In [ ]:
# Type you code here:

### Formatting dates

Working with dates can be challenging at times, but fortunately, Python provides a powerful library that makes it easier. The library is called "datetime" and it offers a wide range of functions and methods for working with dates and times. With this library, you can perform various operations such as date formatting, calculating time differences, extracting specific components from a date, and much more.

Documentation: https://docs.python.org/es/3/library/datetime.html

In [ ]:
import time
from datetime import datetime

unix_time = int(time.time())
date = str(datetime.now())

In [ ]:
print('Unix time', unix_time)
print('Read format', date)

When working with dates, it can be helpful to use the Unix format, as it allows us to treat dates as numerical values.

Unix time, also known as Unix timestamp or POSIX time, is a system for representing time as a numerical value. It is the number of seconds that have elapsed since 00:00:00 Coordinated Universal Time (UTC) on January 1, 1970, excluding leap seconds.

Unix time is widely used in computing systems and programming languages as a standard way to represent and work with time. It provides a consistent and universal reference point for measuring time across different platforms and applications.

The advantage of using Unix time is that it allows for easy calculations and comparisons between dates and times. By representing time as a numerical value, operations such as addition, subtraction, and comparison can be performed using simple arithmetic.

However, sometimes the data is not in Unix format but is in a readable format, such as the case of the airplane's date. In such situations, we need to convert the date into Unix format.

**Let's explore how we can transform a readable date into Unix format using Python.**

But first, you need to make the conversion to a datetime object work correctly. You should obtain the following output:

<p align="center">
    <img width=400 src="Images/OutputDate.png">
</p>

Please complete the cell below to ensure that it functions as intended.

In [ ]:
print('Our data was:', example_row)
print()

print('Original format:', example_row['built'], '\n- Format type:', type(example_row['built']).__name__)

date_object = datetime.strptime(example_row['built'], 
                                         #
                                         # Type you fode here:
                                         #
                                         # Complete the format specification used to represent 
                                         # a date and time in the specific format shown before.
                                         #
                                         )

unix_time = int(time.mktime(date_object.timetuple()))

print()
print('Date object:', date_object)
print('- date_object format:', type(date_object).__name__)
print()
print('Unix time:', unix_time)

`strf` and `strp` are commonly used abbreviations for two functions related to formatting and parsing dates and times in Python:

1. `strftime()`: is used to format a datetime object into a string representation according to a specified format. The `strftime()` function takes a format string as an argument, which consists of special format codes that are replaced with the corresponding values from the datetime object.

2. `strptime()`: is used to parse a string representation of a date or time into a datetime object. It takes two arguments: the string containing the date or time, and a format string specifying the expected format of the input string.


As you have seen before, `datetime.now()` will return the current date and time.

In [ ]:
date = datetime.now()
date

Change the format to obtain the following date format:

`'2023-06-16 13:15'`

In [ ]:
# Type your code here:

### Working with dataframes

In Episode II, you learned how to load a DataFrame in pandas from a CSV file (remember that sometimes you need to specify the separator). However, most APIs return data in JSON format in response to our requests.

The question now is how to convert our JSON data into a DataFrame.

#### Creating a df from a JSON

We'll use the example of the last 5 delivered airplanes obtained from the previous API call (endpoint: ).

The first step is to take the first result (you have assigned the name 'payload' to it in the first cell) and extract the keys or column names:

In [ ]:
# Type your code here:

Once we have extracted the keys or column names from the JSON data, we can proceed to format the rest of the data. This involves iterating through each result and extracting the corresponding values for each key.

In [ ]:
# Type your code here:
#
#

print(content)

And the last step is to create the dataframe with the formatted data. Call it `last_aircraft_df`.

In [ ]:
# Type your code here:

#### Adding new data to the dataframe

In this case, let's retrieve aircraft data from another country and add them to our existing dataframe.

Repeat the extraction, but change the 'Country' parameter to 'US'.

In [ ]:
# Type your code here:

In [ ]:
payload.content

Now that we have the data from our new request in JSON format, we can append new rows to the dataframe using the loc method and adding them at the end.

In [ ]:
# Type your code here:

#### Reformatting a column

Now let's see how we can reformat a specific column, such as the build date, to a different format. 

In this case, we want the date to be in the following format: YYYY-MM-DD (with 4 digits for the year, 2 digits for the month, and 2 digits for the day).

**Attention!** It's not always the best option to reformat the date using the datetime format. Take a close look at what you want to modify! Perhaps you can split the string using a suitable character ;)

In [ ]:
# Type your code here:

#### Filtering a dataframe

If we only need to extract specific data or if we want to merge/join dataframes based on certain conditions, we can achieve that by filtering the dataframe.

##### Single condition

Filter the dataframe to include only the airplanes belonging to Spain.

In [ ]:
# Type your code here:

##### Multiple condition

Now filter the airplanes belonging to Spain whose model is either B763 or A359.

In [ ]:
# Type your code here:

##### Pandas basic data manipulation

There are different ways to manipulate data using built-in functions in pandas, such as:

- Selecting observations based on their values using .query()

- Rearranging the rows using .sort_values()

- Selecting variables by their names using .filter()

- Summarizing multiple values into a single summary using .groupby()

<br>

**Check this:**

Filtering rows using .query(): This function allows you to subset observations based on their values. The first argument specifies the condition or filter for selecting rows, which can be label names or a boolean series. The second argument specifies the columns to be selected.

In this case, our focus is on applying a boolean filter to the rows.

The .query() function is particularly useful when you want to filter data based on specific conditions and retrieve a subset of the DataFrame that meets those conditions.

In [ ]:
last_aircraft_df.query('model == "A20N" & plate == "EC-NTQ"')

##### Arranging or sorting rows using .sort_values()

This method, .sort_values(), functions similarly to .query(), but instead of selecting rows, it changes the order of the rows. It takes a dataframe and a column name or a list of column names to sort by. If multiple column names are provided, each additional column will be used to break ties in the values of preceding columns.

In [ ]:
last_aircraft_df.sort_values(by= ['built'], ascending=False)

##### Selecting Columns using .loc[] and .filter()

It's not uncommon to work with datasets that contain hundreds or even thousands of variables. In such cases, the first challenge is often to narrow down the variables of interest. The `.filter()` function allows you to quickly focus on a specific subset of variables by using operations based on variable names.

In [ ]:
last_aircraft_df.filter(['plate', 'model', 'built'])

Additionally, the `.loc[]` function is often used to select both rows and columns of a dataframe simultaneously. The first argument is used to select rows, while the second argument is used to select columns.

In [ ]:
last_aircraft_df.loc[:3, ['plate', 'model', 'built']]

##### Grouping Data with .groupby() and Aggregating with .agg()

In this example, we will demonstrate how to extract the newest aircraft for each model and country using the .groupby() function in combination with the .agg() function.

In [ ]:
import numpy as np

group = last_aircraft_df.groupby(['model','country'])

group.agg(newest = ('built', np.max)).reset_index()